@mixin my-navbar-item($url, $background-colour, $top-border-colour) {
  background: $background-colour url('#{$url}') no-repeat scroll;
  background-size: 25px 25px;
  background-position: 10% 50%;
  border-top: 2px solid $top-border-colour;
}

.social_header {
  float: left;
  width: 96%;
  ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        color: #fff;
        display: block;
        font-size: 13px;
        padding: 0 10px;
        &:hover {
          color: #C66196;
          text-decoration: none;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.header_top_right {
  text-align: right;
}

.searchbox {
  position: relative;
  min-width: 50px;
  width: 0%;
  height: 50px;
  float: right;
  margin-top: 2%;
  overflow: hidden;

  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.searchbox-input {
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background: #dcddd8;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0px 55px 0px 20px;
  font-size: 20px;
  color: #F16567;
}

.searchbox-input::-webkit-input-placeholder {
  color: #d74b4b;
}

.searchbox-input:-moz-placeholder {
  color: #d74b4b;
}

.searchbox-input::-moz-placeholder {
  color: #d74b4b;
}

.searchbox-input:-ms-input-placeholder {
  color: #d74b4b;
}

.searchbox-icon,
.searchbox-submit {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  color: #56BAE7;
  background: #ff8100;
}

.searchbox-open {
  width: 100%;
}

.main_nav {
  box-shadow: 0 2px 10px #eee;
}

.main_nav_box {
  ul {
    li {
      display: inline-block;
      padding: 8px 0;
      position: relative;
      a {
        border-right: 1px solid #efefef;
        color: #444444;
        display: block;
        font-size: 13px;
        font-weight: 600;
        margin-left: 20px;
        padding: 18px 30px 18px 24px;
        text-transform: uppercase;
      }
    }
  }
}

.main_nav_box {
  ul {
    li.nav_9gags {
      @include my-navbar-item("../imagesandvideos/smile.svg", rgba(0, 0, 0, 0), #663399);
      &:hover {
        @include my-navbar-item("../imagesandvideos/smile.svg", #663399, #663399);
        a {
          border-right: 1px solid #663399;
          color: #fff; // override bootstrap nav on hover colour
        }
      }
    }
  }
}

.main_nav_box {
  ul {
    li.nav_videos {
      @include my-navbar-item("../imagesandvideos/old-video-camera-outline-symbol.svg", rgba(0, 0, 0, 0), #ff6666);
      &:hover {
        @include my-navbar-item("../imagesandvideos/old-video-camera-outline-symbol.svg", #ff6666, #ff6666);
        a {
          border-right: 1px solid #ff6666;
          color: #fff; // override bootstrap nav on hover colour
        }
      }

    }
  }
}

.main_nav_box {
  ul {
    li.nav_jokes {
      @include my-navbar-item("../imagesandvideos/mouth-open-laugh.svg", rgba(0, 0, 0, 0), #cccc33);
      &:hover {
        @include my-navbar-item("../imagesandvideos/mouth-open-laugh.svg", #cccc33, #cccc33);
        a {
          border-right: 1px solid #cccc33;
          color: #fff; // override bootstrap nav on hover colour
        }
      }
    }
  }
}

.main_nav_box {
  ul {
    li.saved_items {
      @include my-navbar-item("", rgba(0, 0, 0, 0), #6699cc);
      &:hover {
        @include my-navbar-item("", #6699cc, #6699cc);
        a {
          border-right: 1px solid #6699cc;
          color: #fff; // override bootstrap nav on hover colour
        }
      }
    }
  }
}

.main_nav_box {
  ul {
    li#nav_about {
      @include my-navbar-item("", rgba(0, 0, 0, 0), #cc6699);
      &:hover {
        @include my-navbar-item("", #cc6699, #cc6699);
        a {
          border-right: 1px solid #cc6699;
          color: #fff; // override bootstrap nav on hover colour
        }
      }
    }
  }
}

.main_nav_box {
  ul {
    li.add_item {
      @include my-navbar-item("", rgba(0, 0, 0, 0), #0a006c);
      &:hover {
        @include my-navbar-item("", #0a006c, #0a006c);
        a {
          border-right: 1px solid #0a006c;
          color: #fff; // override bootstrap nav on hover colour
        }
      }
    }
  }
}

#myNavbar {
  .navbar_left {
    padding-left: 10%;
  }
}

.header_top {
  background-color: #333333;
  padding: 15px 0 14px;
}

#header_carousel {
  p {
    color: white;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: -1px;
  }
}