@mixin my-navbar-item($url, $top-border-colour) {
  background: rgba(0, 0, 0, 0) url('#{$url}') no-repeat scroll;
  background-size: 25px 25px;
  background-position: 10% 50%;
  border-top: 2px solid $top-border-colour;
}

@mixin my-narbar-item-hover($url) {
  background: #c66196 url('#{$url}') no-repeat scroll;
  background-size: 25px 25px;
  background-position: 10% 50%;
  border-top: 2px solid #c66196;
}

.social_header {
  float: left;
  width: 96%;
  ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        color: #fff;
        display: block;
        font-size: 13px;
        padding: 0 10px;
        &:hover {
          color: #C66196;
          text-decoration: none;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.header_top_right {
  text-align: right;
}

.searchbox {
  position: relative;
  min-width: 50px;
  width: 0%;
  height: 50px;
  float: right;
  margin-top: 2%;
  overflow: hidden;

  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.searchbox-input {
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background: #dcddd8;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0px 55px 0px 20px;
  font-size: 20px;
  color: red;
}

.searchbox-input::-webkit-input-placeholder {
  color: #d74b4b;
}

.searchbox-input:-moz-placeholder {
  color: #d74b4b;
}

.searchbox-input::-moz-placeholder {
  color: #d74b4b;
}

.searchbox-input:-ms-input-placeholder {
  color: #d74b4b;
}

.searchbox-icon,
.searchbox-submit {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  color: #56BAE7;
  background: #ff8100;
}

.searchbox-open {
  width: 100%;
}

.main_nav {
  box-shadow: 0 2px 10px #eee;
}

.main_nav_box {
  ul {
    li.nav_9gags {
      @include my-navbar-item("../imagesandvideos/smile.svg", #c66196);
      &:hover {
        @include my-narbar-item-hover("../imagesandvideos/smile.svg")
      }
    }
  }
}

.main_nav_box {
  ul {
    li.nav_videos {
      @include my-navbar-item("../imagesandvideos/old-video-camera-outline-symbol.svg", #35A3F0);
      &:hover {
        @include my-narbar-item-hover("../imagesandvideos/old-video-camera-outline-symbol.svg");
      }

    }
  }
}

.main_nav_box {
  ul {
    li.nav_jokes {
      @include my-navbar-item("../imagesandvideos/mouth-open-laugh.svg", #FFA431);
      &:hover {
        @include my-narbar-item-hover("../imagesandvideos/mouth-open-laugh.svg")
      }
    }
  }
}

#nav_about:hover {
  background: #c66196
}

.main_nav_box {
  ul {
    li.add_item {
      border-top: 2px solid #0a006c;
      &:hover {
        background: #c66196;
      }
    }
  }
}

#myNavbar {
  .navbar_left {
    padding-left: 10%;
  }
}

.main_nav_box {
  ul {
    li {
      display: inline-block;
      margin-right: -4px;
      padding: 8px 0;
      position: relative;
      &:hover {
        a {
          border-right: 1px solid #c66196;
        }
      }
      a {
        border-right: 1px solid #efefef;
        color: #444444;
        display: block;
        font-size: 13px;
        font-weight: 600;
        margin-left: 20px;
        padding: 18px 30px 18px 24px;
        text-transform: uppercase;
      }
    }
  }
}

.header_top {
  background-color: #333333;
  padding: 15px 0 14px;
}

#header_carousel {
  p {
    color: white;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: -1px;
  }
}