
.error404__wrapper {
  display: inline-block;
  position: relative;
  margin-top: 10%;

}

.bear__text {
  position: absolute;
  padding: 10px 0 0 50px;
  font-size: 11px;
}

.bear__img {
  max-width: none;
}

.bear {
  position: absolute;
  right: auto;
  left: 81.1497326203%;
  top: 38.2716049383%;
}