.filtering {
  h2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 5px 15px;
    margin: 0;
    margin-bottom: 2%;
    font-weight: 400;
    text-align: left;
    background: #ff8100;
    color: #777;
  }
}

.all_jokes {
  margin-top: 5%;
  margin-bottom: 5%;
}

.endless_page_template {
  margin-top: 10%;
  margin-bottom: 3%;
}