.all_ninegags {
    margin-top: 5%;
    margin-bottom: 50px;
}

.single_9gag_image_or_video {
    margin-bottom: 6%;
    padding-bottom: 8%;
    border-bottom: 1px solid #EDEDED;
}

.single_ninegag {
    border-bottom: 1px solid #efefef;
    margin-bottom: 50px;
    position: relative;
}

.btn .glyphicon {
    margin-left: 10px;
}