.single_9gag_bottom_text {
    margin-bottom: 30px;
    padding-right: 10px;
}

.post_9gag_bottom_text {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.videos-list_text {
    padding-bottom: 5%;
}