{% extends 'funfly/layout.html' %}
{% load staticfiles %}

{% block head %}
	{{ block.super }}
		<script src="{% static "funfly/js/add_item.js" %}"></script>
{% endblock %}

{% block content %}
	{% block main_wrapper %}
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
			<div class="add_item_form">
				<p class="error">{{ message }}</p>
				{% load crispy_forms_tags %}
				{% crispy AddItemForm AddItemForm.helper %}
			</div>
		</div>
	{% endblock %}
{% endblock %}

