{% extends 'funfly/layout.html' %}
{% load staticfiles %}


{% load el_pagination_tags %}

{% block  head %}
	{{ block.super }}
	<style type="text/css">
		.save_button_wrap {
			margin-top: 0;
			margin-left: 20px;
			margin-right: 0;
			position: absolute;
			top: 0;
			right: 0;
		}

		.endless_more {
			margin-top: 5%;
		}

	</style>
{% endblock %}

{% block content %}
	{% block main_wrapper %}
		<div class="col-md-9 col-sm-9 col-xs-9">
			<div class="endless_page_template">
				{% include page_template %}
				{% block js %}
					{{ block.super }}
					<script src="{% static "funfly/js/el-pagination.js" %}"></script>
					<script>
						$.endlessPaginate();
					</script>

				{% endblock %}
			</div>
		</div>
	{% endblock %}
{% endblock %}

