{% extends 'funfly/layout.html' %}

{% block content %}
	{% block main_wrapper %}
		<div class="col-md-9 col-sm-9 col-xs-9">
			<div class="jokes_left">
				<div class="single_top_img_text">
					<p> {{ object.text }} </p>
				</div>
				<p><i class="fa fa-clock-o"></i> {{ object.date_added }}<i
						class="fa fa-comment"></i> {{ object.approved_comments.count }}</p>
			</div>
			<div class="sp_comments_box">
				<h2>Comments</h2>
				{% for comment in comments %}
					<div class="single_comment">
						<div class="single_comment_avatar">

						</div>
						<div class="single_comment_text">
							<div class="sp_title">
								<a href="#"><h4> {{ comment.user }} </h4></a>
								<p> {{ comment.date_added }}  </p>
							</div>
							<p>
								{{ comment.text }}
							</p>
							{% if not comment.approved_comment %}
								{% if perms.funfly.change_postcomment %}
									<a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span
											class="glyphicon glyphicon-remove"></span></a>
									<a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span
											class="glyphicon glyphicon-ok"></span></a>
								{% endif %}
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="comment_form">
				<h2>Leave your comment</h2>
				<div class="comments_form">
					{% load crispy_forms_tags %}
					{% crispy CommentForm CommentForm.helper %}
				</div>
			</div>
		</div>
	{% endblock %}
{% endblock %}