{% load el_pagination_tags %}

{% paginate 5 jokes %}

{% for joke in jokes %}
	<div class="single_joke jokes_left single_top_img_text">
		<div class="single_top_img_text">
			<h6><a href="{% url 'joke_post_details' joke.pk %}"> {{ joke.text }} </a></h6>
		</div>
		<p><i class="fa fa-clock-o"></i> {{ joke.date_added }}<i
				class="fa fa-comment"></i> {{ joke.approved_comments.count }} comments  likes: {{ joke.likes }} </p>
		{% if request.user.is_authenticated %}
			<div class="save_button_wrap">
				<span class="glyphicon glyphicon-plus-sign save_item"  data-item-id="{{ joke.pk }}" data-item-type="Joke" data-toggle="tooltip" data-container="body" title="Click to save the item into your personal list!"></span>
			</div>
		{% endif %}
	</div>

{% empty %}
	<h3>Jokes not available</h3>
{% endfor %}


{% show_more %}