{% extends 'funfly/layout.html' %}
{% load staticfiles %}

{% load el_pagination_tags %}

{% block content %}
	{% block main_wrapper %}
		<div class="col-md-9 col-sm-9 col-xs-9 all_ninegags">
			<div class="filtering">
				<form id="filter_sort_form" class="form-inline" method="get" action="{% url 'ninegags' %}">
				<div class="form-group">
					<label class="input-group" for="type">Type of item</label>
					<select class="selectpicker show-tick show-menu-arrow"  title="Anything" data-width="fit" data-input id="type" name="type">
						<option value="Any">Anything</option>
						<option value="False" data-icon="glyphicon-camera" >Images</option>
						<option value="True" data-icon="glyphicon-film" >GIFs</option>
					</select>
				</div>
				<div class="form-group">
					<label class="input-group" for="filter">Sort by</label>
					<div class="btn-group input-group-sm">
						<button class="btn btn-default btn-md project-phase">
							 Date added <span class="glyphicon glyphicon-sort"></span>
						</button>
						<button class="btn btn-default btn-md project-phase">
							Points <span class="glyphicon glyphicon-sort"></span>
						</button>
					</div>
				</div>
			</form>
			</div>
			<div class="endless_page_template">
				{% include page_template %}
				{% block js %}
					{{ block.super }}
					<script src="{% static "funfly/js/el-pagination.js" %}"></script>
					<script>
						$.endlessPaginate();
					</script>
				{% endblock %}
			</div>
		</div>
	{% endblock %}
{% endblock %}