{% extends 'funfly/layout.html' %}
{% load staticfiles %}

{% block content %}
	{% block main_wrapper %}
		<div class="col-md-9 col-sm-9 col-xs-9">
			<div class="single_9gag_bottom_text">
				<h2><a href=""> {{ object.title }} </a></h2>
				<p><a class="category_tag" href="#">9gag</a>| <i
						class="fa fa-clock-o"></i> {{ object.date_added }}
					<i class="fa fa-comment"></i> {{ object.approved_comments.count }} comments</p>
				{% if request.user.is_authenticated %}
					<div class="save_button_wrap">
						<span class="glyphicon glyphicon-plus-sign save_item" data-item-id="{{ object.pk }}"
							  data-item-type="Ninegag" data-toggle="tooltip" data-container="body"
							  title="Click to save the item into your personal list!"></span>
					</div>
				{% endif %}
			</div>
			<div class="single_9gag_image_or_video">
				{% if object.is_video %}
					<div align="center" class="embed-responsive embed-responsive-16by9">
						<video loop muted controls class="embed-responsive-item">
							<source src="{% static object.imagevideo_path %}" type="video/mp4">
							Your browser does not support the video tag!
						</video>
					</div>
				{% else %}
					<img class="img-responsive" src="{% static object.imagevideo_path %}" alt="">
				{% endif %}
			</div>
			<div class="sp_comments_box">
				<h2>Comments</h2>
				{% for comment in comments %}
					<div class="single_comment">
						<div class="single_comment_avatar">

						</div>
						<div class="single_comment_text">
							<div class="sp_title">
								<a href="#"><h4> {{ comment.user }} </h4></a>
								<p> {{ comment.date_added }}  </p>
							</div>
							<p>
								{{ comment.text }}
							</p>
							{% if not comment.approved_comment %}
								{% if perms.funfly.change_postcomment %}
									<a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span
											class="glyphicon glyphicon-remove"></span></a>
									<a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span
											class="glyphicon glyphicon-ok"></span></a>
								{% endif %}
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="comment_form">
				<h2>Leave your comment</h2>
				<div class="comments_form">
					{% load crispy_forms_tags %}
					{% crispy CommentForm CommentForm.helper %}
				</div>
			</div>
		</div>
	{% endblock %}
{% endblock %}