{% extends 'funfly/layout.html' %}
{% load staticfiles %}

{% block content %}
	{% block main_wrapper %}
		<div class="col-md-9 col-sm-9 col-xs-9 all_ninegags">
			{% for ninegag in ninegags %}
				<div class="single_ninegag">
					<div class="single_9gag_bottom_text">
						<h4><a href="{% url 'ninegag_post_details' ninegag.pk %}"> {{ ninegag.title }} </a></h4>
						<p><a class="9gags_color" href="#">9gag</a>| <i
								class="fa fa-clock-o"></i> {{ ninegag.date_added }}
							<i class="fa fa-comment"></i> {{ ninegag.approved_comments.count }} comments </p>
					</div>
					<div class="single_9gag_image_or_video">
						{% if ninegag.is_video %}
							<div align="center" class="embed-responsive embed-responsive-16by9">
								<video preload="auto" loop muted controls class="embed-responsive-item">
									<source src="{% static ninegag.imagevideo_path %}" type="video/mp4">
									Your browser does not support the video tag!
								</video>
							</div>
						{% else %}
							<img class="img-responsive" src="{% static ninegag.imagevideo_path %}" alt="">
						{% endif %}
					</div>
				</div>
			{% endfor %}

			{% if is_paginated %}
				<ul class="pagination">
					{% if page_obj.has_previous %}
						<li>
							<span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
						</li>
					{% endif %}
					<li class="active">
						<span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
					</li>
					{% if page_obj.has_next %}
						<li>
							<span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
						</li>
					{% endif %}
				</ul>
			{% else %}
				<h3>Ninegags not available</h3>
			{% endif %}
		</div>
	{% endblock %}
{% endblock %}