{% extends 'funfly/layout.html' %}
{% load i18n %}
{% load account socialaccount %}
{% providers_media_js %}


{% block heading %}
	  <h2><em>Register</em></h2>
{% endblock %}

{% block content %}
<h2 class="centered">Creează contul tău</h2>
    <div class="register">
        <p class="error">{{ message }}</p>
        <!--<form method="post">-->
            <!--{% csrf_token %}-->
            <!--{{ form.as_p }}-->
            <!--<button type="submit">Register</button>-->
        <!--</form>-->

        {% load crispy_forms_tags %}
        {% crispy RegisterForm RegisterForm.helper %}

        {% load socialaccount %}
		<br>
		<br>

	<a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a>

    </div>

<br>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts.{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>



</div>

{% endif %}

<br>

<p>Aveți deja un cont? Atunci vă rugăm <a href="{% url 'login' %}">să intrați în cont</a>.</p>



{% endblock %}
