{% extends 'funfly/layout.html' %}


{% block heading %}
	  <h2><em>Register</em></h2>
{% endblock %}

{% block main_wrapper %}

	<div class="col-md-9 col-sm-9 col-xs-9">

		<h2 class="centered">Create your account</h2>

		<div class="register_form">
			<p class="error">{{ message }}</p>
			<!--<form method="post">-->
			{#            <!--{% csrf_token %}-->#}
			{#            <!--{{ form.as_p }}-->#}
			<!--<button type="submit">Register</button>-->
			<!--</form>-->

			{% load crispy_forms_tags %}
			{% crispy RegisterForm RegisterForm.helper %}

		</div>

	</div>
{% endblock %}
