{% extends 'funfly/layout.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% load sass_tags %}



{% block head %}
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Funfly</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="{% sass_src 'funfly/css/main.scss' %}">
		<link rel="stylesheet" href="{% static "funfly/css/responsive.css" %}">
		<link rel="stylesheet" href="{% static "funfly/font-awesome-4.6.3/css/font-awesome.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "funfly/sweetalert2/sweetalert2.css" %}">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="application/javascript" src="{% static "funfly/js/bootstrap.js" %}"></script>
		<script src="{% static "funfly/sweetalert2/sweetalert2.min.js" %}"></script>
		<script src="{% static "funfly/js/savelist.js" %}"></script>


		<!-- Bootstrap toogle -->
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet"
			  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

		<style type="text/css">
			.save_button_wrap {
				margin-top: 3%;
				margin-left: 20px;
				margin-right: 0;
				position: absolute;
				top: 0;
				right: 0;
			}

		</style>

		<script>
			$(document).ready(function () {

				var submitIcon = $('.searchbox-icon');
				var inputBox = $('.searchbox-input');
				var searchBox = $('.searchbox');
				var isOpen = false;
				submitIcon.click(function () {
					if (isOpen == false) {
						searchBox.addClass('searchbox-open');
						inputBox.focus();
						isOpen = true;
					} else {
						searchBox.removeClass('searchbox-open');
						inputBox.focusout();
						isOpen = false;
					}
				});
				submitIcon.mouseup(function () {
					return false;
				});
				searchBox.mouseup(function () {
					return false;
				});
				$(document).mouseup(function () {
					if (isOpen == true) {
						$('.searchbox-icon').css('display', 'block');
						submitIcon.click();
					}
				});
			});
			function buttonUp() {
				var inputVal = $('.searchbox-input').val();
				inputVal = $.trim(inputVal).length;
				if (inputVal !== 0) {
					$('.searchbox-icon').css('display', 'none');
				} else {
					$('.searchbox-input').val('');
					$('.searchbox-icon').css('display', 'block');
				}
			}
		</script>


	</head>
{% endblock %}


{% block content %}
	{% block main_wrapper %}
		<div class="col-md-9 col-sm-9 col-xs-9 all_saved_items">
			<h2>Settings</h2>

			{% if saved_items %}
				<div class="filtering">
					<form id="filter_sort_form" class="form-inline" method="get" action="{% url 'saved_items_list' %}">
						<div class="form-group">
							<label class="input-group" for="type">Please select an item category</label>
							<select class="selectpicker show-tick show-menu-arrow" title="Anything" data-width="fit"
									data-input id="type" name="itemType">
								<option value="Any">Anything</option>
								<option value="Ninegag">Ninegags</option>
								<option value="Youtube">Videos</option>
								<option value="Joke">Jokes</option>
							</select>
						</div>
					</form>
				</div>
			{% endif %}

			<div class="private-savelist">
				<form action="{% url 'saved_items_list_settings' %}" method="POST" id="private-savelist-form">
					<div class="form-group">
						<label>Do you want your save list to be public or private?</label>
						<input id="custom-toggle" type="checkbox" class="form-control" data-toggle="toggle" checked
							   data-on="Public"
							   data-off="Private" data-onstyle="danger" data-offstyle="success">
					</div>
				</form>
			</div>
			<div class="saved_items_container">
				{% for item in saved_items %}
					{% if item|classname == 'Ninegag' %}
						<div class="gags_bottom" id="delete_item_{{ item.pk }}">
							<div class="single_bottom_text">
								<h4>
									{% if saved_items %}
										<a href="{% url 'ninegag_post_details' item.pk %}"> {{ item.title }} </a>
									{% endif %}
								</h4>
								<p><a class="category_tag" href="#">9gag</a>| <i
										class="fa fa-clock-o"></i> {{ item.date_added }}
									<i class="fa fa-comment"></i>{{ item.approved_comments.count }}
									comments
									{% if request.user.is_authenticated %}<a class="fb-share-button fb_share" href="#"
																			 data-href="[page_url]"
																			 data-image="[image_url]"
																			 data-title="[Post_title]  "
																			 data-desc="[Post_description]"> <i
											class="fa fa-facebook"></i> </a>{% endif %}
								</p>
							</div>
							{% if item.is_video %}
								<div class="top_video">
									<div align="center"
										 class="embed-responsive embed-responsive-16by9">
										<video preload="auto" loop muted controls
											   class="embed-responsive-item">
											<source src="{% static item.imagevideo_path %}"
													type="video/mp4">
											Your browser does not support the video tag!
										</video>
									</div>
								</div>
								<div class="save_button_wrap">
								<span class="glyphicon glyphicon-minus-sign delete_item" data-item-id="{{ item.pk }}"
									  data-item-type="Ninegag" data-toggle="tooltip" data-container="body"
									  title="Click to remove the item into your personal list!">
								</span>
								</div>
							{% else %}
								<div class="top_img">
									<img class="img-responsive"
										 src="{% static item.imagevideo_path %}" alt="">
								</div>
								<div class="save_button_wrap">
							<span class="glyphicon glyphicon-minus-sign delete_item" data-item-id="{{ item.pk }}"
								  data-item-type="Ninegag" data-toggle="tooltip" data-container="body"
								  title="Click to remove the item from your personal list!"></span>
								</div>
							{% endif %}
						</div>
					{% endif %}

					{% if item|classname == 'Youtube' %}
						<div class="videos_left" id="delete_item_{{ item.pk }}">
							<div class="single_bottom_text">
								<h4>
									{% if saved_items %}
										<a href="{% url 'video_post_details' item.pk %}"> {{ item.title }} </a>
									{% endif %}
								</h4>
								<p><a class="category_tag" href="#">videos</a>|<i
										class="fa fa-clock-o"></i> {{ item.date_added }}
									<i class="fa fa-comment"></i> {{ item.approved_comments.count }}
									comments
									{% if request.user.is_authenticated %}<a class="fb-share-button fb_share" href="#"
																			 data-href="[page_url]"
																			 data-image="[image_url]"
																			 data-title="[Post_title]  "
																			 data-desc="[Post_description]"> <i
											class="fa fa-facebook"></i> </a>{% endif %}
								</p>
							</div>
							<div class="top_video">
								<div align="center"
									 class="embed-responsive embed-responsive-16by9">
									<iframe src={{ item.url }} class="embed-responsive-item"></iframe>
									Your browser does not support the video tag!
									</video>
								</div>
								<div class="save_button_wrap">
							<span class="glyphicon glyphicon-minus-sign delete_item" data-item-id="{{ item.pk }}"
								  data-item-type="Youtube" data-toggle="tooltip" data-container="body"
								  title="Click to remove the item from your personal list!"></span>
								</div>
							</div>
						</div>
					{% endif %}

					{% if item|classname == 'Joke' %}
						<div class="jokes_left" id="delete_item_{{ item.pk }}">
							<div class="single_top_img_text">
								{% if saved_items %}
									<h6>
										<a href="{% url 'joke_post_details' item.pk %}"> {{ item.text }} </a>
									</h6>
								{% endif %}
							</div>
							<div class="save_button_wrap">
							<span class="glyphicon glyphicon-minus-sign delete_item" data-item-id="{{ item.pk }}"
								  data-item-type="Joke" data-toggle="tooltip" data-container="body"
								  title="Click to remove the item into your personal list!"></span>
							</div>
							<p><i class="fa fa-clock-o"></i> {{ item.date_added }}<i
									class="fa fa-comment"></i>{{ item.approved_comments.count }}
								comments
								{% if request.user.is_authenticated %}<a class="fb-share-button fb_share" href="#"
																		 data-href="[page_url]" data-image="[image_url]"
																		 data-title="[Post_title]  "
																		 data-desc="[Post_description]"> <i
										class="fa fa-facebook"></i> </a>{% endif %}
							</p>
						</div>

					{% endif %}

				{% endfor %}
			</div>
		</div>
	{% endblock %}
{% endblock %}

