{% load custom_tags %}
{% load staticfiles %}

{% for item in saved_items %}
	{% if item|classname == 'Ninegag' %}
		<div class="gags_bottom" id="delete_item_{{ item.pk }}">
			<div class="single_bottom_text">
				<h4>
					{% if saved_items %}
						<a href="{% url 'ninegag_post_details' item.pk %}"> {{ item.title }} </a>
					{% endif %}
				</h4>
				<p><a class="category_tag" href="#">9gag</a>| <i
						class="fa fa-clock-o"></i> {{ item.date_added }}
					<i class="fa fa-comment"></i>{{ item.approved_comments.count }}
					comments</p>
			</div>
			{% if item.is_video %}
				<div class="top_video">
					<div align="center"
						 class="embed-responsive embed-responsive-16by9">
						<video preload="auto" loop muted controls
							   class="embed-responsive-item">
							<source src="{% static item.imagevideo_path %}"
									type="video/mp4">
							Your browser does not support the video tag!
						</video>
					</div>
				</div>
				<div class="save_button_wrap">
								<span class="glyphicon glyphicon-minus-sign delete_item" data-item-id="{{ item.pk }}"
									  data-item-type="Ninegag" data-toggle="tooltip" data-container="body"
									  title="Click to remove the item into your personal list!">
								</span>
				</div>
			{% else %}
				<div class="top_img">
					<img class="img-responsive"
						 src="{% static item.imagevideo_path %}" alt="">
				</div>
				<div class="save_button_wrap">
							<span class="glyphicon glyphicon-minus-sign delete_item" data-item-id="{{ item.pk }}"
								  data-item-type="Ninegag" data-toggle="tooltip" data-container="body"
								  title="Click to remove the item from your personal list!"></span>
				</div>
			{% endif %}
		</div>
	{% endif %}

	{% if item|classname == 'Youtube' %}
		<div class="videos_left" id="delete_item_{{ item.pk }}">
			<div class="single_bottom_text">
				<h4>
					{% if saved_items %}
						<a href="{% url 'video_post_details' item.pk %}"> {{ item.title }} </a>
					{% endif %}
				</h4>
				<p><a class="category_tag" href="#">videos</a>|<i
						class="fa fa-clock-o"></i> {{ item.date_added }}
					<i class="fa fa-comment"></i> {{ item.approved_comments.count }}
					comments </p>
			</div>
			<div class="top_video">
				<div align="center"
					 class="embed-responsive embed-responsive-16by9">
					<iframe src={{ item.url }} class="embed-responsive-item"></iframe>
					Your browser does not support the video tag!
					</video>
				</div>
				<div class="save_button_wrap">
							<span class="glyphicon glyphicon-minus-sign delete_item" data-item-id="{{ item.pk }}"
								  data-item-type="Youtube" data-toggle="tooltip" data-container="body"
								  title="Click to remove the item from your personal list!"></span>
				</div>
			</div>
		</div>
	{% endif %}

	{% if item|classname == 'Joke' %}
		<div class="jokes_left" id="delete_item_{{ item.pk }}">
			<div class="single_top_img_text">
				{% if saved_items %}
					<h6>
						<a href="{% url 'joke_post_details' item.pk %}"> {{ item.text }} </a>
					</h6>
				{% endif %}
			</div>
			<div class="save_button_wrap">
							<span class="glyphicon glyphicon-minus-sign delete_item" data-item-id="{{ item.pk }}"
								  data-item-type="Joke" data-toggle="tooltip" data-container="body"
								  title="Click to remove the item into your personal list!"></span>
			</div>
			<p><i class="fa fa-clock-o"></i> {{ item.date_added }}<i
					class="fa fa-comment"></i>{{ item.approved_comments.count }}
				comments</p>
		</div>

	{% endif %}

{% endfor %}
