{% load staticfiles %}
{% load el_pagination_tags %}

{% paginate 5 videos %}

{% for video in videos %}

	<div class="single_video">
		<div class="single_bottom_text videos-list_text">
			<h4>
				<a href="{% url 'video_post_details' video.pk %}"> {{ video.title }} </a>
			</h4>
			<p><a class="category_tag" href="{% url 'videos' %}">videos</a>|<i
					class="fa fa-clock-o"></i> {{ video.date_added }}
				<i class="fa fa-comment"></i>{{ video.approved_comments.count }} comments
				{% if request.user.is_authenticated %}<a class="fb-share-button fb_share" href="#"
														 data-href="[page_url]" data-image="[image_url]"
														 data-title="[Post_title]  "
														 data-desc="[Post_description]"> <i
						class="fa fa-facebook"></i> </a>{% endif %}
			</p>
			{% if request.user.is_authenticated %}
				<div class="save_button_wrap">
					<span class="glyphicon glyphicon-bookmark save_item" data-item-id="{{ video.pk }}"
						  data-item-type="Youtube" data-toggle="tooltip" data-container="body"
						  title="Click to save the item into your personal list!">
					</span>
				</div>
			{% endif %}
		</div>
		<iframe src="{{ video.url }}" frameborder="0" width="560" height="315"></iframe>

	</div>

{% empty %}
	<h3>Videos not available</h3>
{% endfor %}


{% show_pages %}