{% extends 'funfly/layout.html' %}

{% block  head %}
	{{ block.super }}
	<style type="text/css">
		.save_button_wrap {
			margin-top: 9%;
			margin-left: 0;
			margin-right: 0;
			position: absolute;
			top: 0;
			right: 0;
		}

	</style>
{% endblock %}

{% block content %}
	{% block main_wrapper %}
		<div class="col-md-9 col-sm-9 col-xs-9">
			<div class="single_bottom_text sp_video_title">
				<h2><a href=""> {{ object.title }} </a></h2>
				<p><a class="category_tag" href="{% url 'videos' %}">videos</a>| <i
						class="fa fa-clock-o"></i> {{ object.date_added }}
					<i class="fa fa-comment"></i> {{ object.approved_comments.count }} comments
					{% if request.user.is_authenticated %}<a class="fb-share-button fb_share" href="#"
															 data-href="{{request.build_absolute_uri}}" data-image="[image_url]"
															 data-title="{{ object.title }} "
															 data-desc=""> <i
							class="fa fa-facebook"></i> </a>{% endif %}
				</p>
				{% if request.user.is_authenticated %}
					<div class="save_button_wrap">
						<span class="glyphicon glyphicon-bookmark save_item" data-item-id="{{ object.pk }}"
							  data-item-type="Youtube" data-toggle="tooltip" data-container="body"
							  title="Click to save the item into your personal list!"></span>
					</div>
				{% endif %}
			</div>
			<div class="sp_video_box">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src={{ object.url }}></iframe>
				</div>
			</div>
			<div class="sp_comments_box">
				<h2>{{ comments.count }} comments</h2>
				{% for comment in comments %}
					<div class="single_comment">
						<div class="single_comment_avatar">
							<img src="/static/funfly{{ comment.user.userprofile.avatar.url }}" alt="">
						</div>
						<div class="single_comment_text">
							<div class="sp_title">
								<a href="{% url 'view_profile' comment.user.userprofile.pk %}">
									<h4> {{ comment.user }} </h4></a>
								<p> {{ comment.date_added }}  </p>
							</div>
							<p>
								{{ comment.text }}
							</p>
							{% if not comment.approved_comment %}
								{% if perms.funfly.change_postcomment %}
									<a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span
											class="glyphicon glyphicon-remove"></span></a>
									<a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span
											class="glyphicon glyphicon-ok"></span></a>
								{% endif %}
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
			{% if request.user.is_authenticated %}
				<div class="comment_form">
					<h2>Leave your comment</h2>
					<div class="comments_form">
						{% load crispy_forms_tags %}
						{% crispy CommentForm CommentForm.helper %}
					</div>
				</div>
			{% endif %}
		</div>
	{% endblock %}
{% endblock %}